<html>
  <head>
    <head>
    <title>url shortner Microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    
  

<div>
    <h1 id="url-shortner-microservice">URL Shortner Microservice</h1>
    <p>A Microservice that can be used to generate short urls corresponding to long tiresom urls.</p>
    <h3 id="api-usage">API Usage</h3>
    <ul>
    <li><code>/new/{your URL goes here}</code> to shorten the url.</li>
    <li>the output will be a JSON object with long_url and short_urls respectively.</li>
    </ul>
    <h2 id="example">Example</h2>
    <ul>
    <li><p><pre>https://six-lightning.glitch.me/new/https://reddit.com/r/india</pre>request to server.</p>
    </li>
    <li><p>response </p>
    <pre><code class="lang-JSON"> 
    {
       &quot;short_url&quot;:&quot;https://six-lightning.glitch.me/p1AmN&quot;,
       &quot;original_url&quot;:&quot;https://reddit.com/r/india&quot;
     }
    </code></pre>
      </li>
    </ul>
    </div>
  
  </body>
</html>
    